<div style="width: 100%;height: 723px; background-image:url('../../../assets/28.PNG');">
    <div class="container" style="width: 85%;">
      <h2>Mis Visitantes</h2>
      <br>
      <button type="button" class="btn btn-success" routerLink="/agregarvisitante">Agregar visitante</button>
      <br><br>
        <table class="table table-dark table-striped">
            <thead>
              <tr>
                <th scope="col">id</th>
                <th scope="col">Nombre</th>
                <th scope="col">Telefono</th>
                <th scope="col">Estatus</th>
                <th scope="col">Mas opciones</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Mark jxnckxnvkxcx kxncjkxj </td>
                <td>8712589635</td>
                <td>Activo</td>
                <td>
                    <button type="button" class="btn btn-outline-warning" style="margin-right: 15px;"  routerLink="/modivisitante" >Actualizar</button>
                    <button type="button" class="btn btn-outline-danger"style="margin-right: 15px;">Eliminar</button>
                </td>
              </tr>
              
            </tbody>
          </table>
    </div>
</div>

