<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
     
        <img src="../assets/vydalogo2.png" alt="Logo" width="100" height="100" class="d-inline-block align-text-top">
      
      
      <button class="navbar-toggler" type="button" (click)="toggleNavbar()">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" [ngClass]="{'show': navbarOpen}" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Inicio <span class="sr-only"></span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/parques">Parques</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/visitantes">Visitantes</a>
          </li>
          <li class="nav-item dropdown" ngbDropdown>
            <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" role="button" ngbDropdownToggle>
              Cuenta
            </a>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink" ngbDropdownMenu>
              <a class="dropdown-item" href="#">Opción 1</a>
              <a class="dropdown-item" href="#">Opción 2</a>
              <a class="dropdown-item" href="#">Opción 3</a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  