<div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->
  
      <!-- Icon -->
      <div class="fadeIn first">
        <img src="../../../assets/Vydalogooo.png" id="icon" alt="User Icon" />
      </div>
  
      <!-- Login Form -->
      <form >
        <input type="text" id="nombre" class="fadeIn second"  placeholder="Nombre" formControlName="nombre">
        <input type="text" id="nombre" class="fadeIn second"  placeholder="Telefono" formControlName="telefono">
        <input type="text" id="login" class="fadeIn second"  placeholder="Correo" formControlName="correo">
        <input type="password" id="password" class="fadeIn third"  placeholder="Contraseña" formControlName="contraseña">
        <input type="submit" class="fadeIn fourth" value="Registrar">
      </form>
    </div>
  </div>
